RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L,QSA]

# SP BEGIN php handler
<IfModule mod_fcgid.c>
          AddHandler fcgid-script .php .php5 .php7 .phtml
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php5
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .php7
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php81 .phtml
</IfModule>
# SP END php handler

